.rooms__floor {
    padding-left: 20px;
    margin: 25px 5px 12px;
    font-weight: 700;
    color: #777;
}

.rooms__room {
    display: inline-block;
    width: 192px;
    padding-left: 20px;
    margin-bottom: 16px;
}

.rooms__room_busy {
    color: #bbb;
}

.rooms__room-name {
    font-weight: 700;
}

.timeline-grid {
    position: fixed;
    top: 0;
    left: 215px;
    z-index: -1;
    height: 100vh;
    background-color: #e6ffff;
    border-left: 1px solid #aaa;
}

.timeline-vertical {
    display: inline-block;
    width: 45px;
    height: 100vh;
    border-right: 1px solid #aaa;
}

.timeline-vertical:first-child {
    width: 33px;
}

.timeline-vertical:last-child {
    width: calc(100vw - 1018px);
    border-right: none;
}

.rooms__room-timetable {
    display: inline-block;
    min-width: calc(100vw - 233px);
    height: 25px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.rooms__room-wrapper:last-child {
    margin-bottom: 30px;
}
