.timeline {
    height: 24px;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.timeline__date {
    display: inline-block;
    width: 210px;
}

.timeline__hour {
    display: inline-block;
    padding: 0 15px 0 16px;
}

.timeline__hour:nth-child(2) {
    padding: 0 14px;
}
